* {
  margin: 0;
  padding: 0;
  height: auto;
}

html,
body {
  background-color: black;
  color: white;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* HEADER BÖLÜMÜ */

.first-head {
  width: 100%;
  min-height: 13vh;
  height: auto;
  min-height: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: black;
  box-sizing: border-box;
}
.first-head div {
  margin: 2vw 6vw;
  font-size: clamp(1rem, 1.5vw, 2rem);
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: rgb(216, 4, 4);
  cursor: pointer;
}
.first-head nav {
  margin: 3vw 6vw;
}
.first-head ul {
  color: white;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  font-size: clamp(1rem, 1.5vw, 2rem);
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
}
li:hover {
  color: rgb(216, 4, 4);
}
/* HELLO KISMI */
.hello {
  height: auto;
  min-height: 87vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.nurdogan {
  float: left;
  width: 65%;
}
.batman {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.batman img {
  width: 20vw;
  height: auto;
  max-height: 20vh;
  max-width: 20vh;
  min-height: 10vh;
  min-width: 10vh;
  min-height: 5vh;
  border-radius: 20px;
  border-style: none;
  animation: upDown 1.5s ease-in-out infinite alternate;
}
@keyframes upDown {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-20px); /* Y ekseninde 20px hareket */
  }
}
.hello h1 {
  font-size: clamp(1rem, 4vw, 3rem);
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: rgb(216, 4, 4);
}
.small-text {
  font-size: clamp(1rem, 1.8vw, 2vw);
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.paragraph {
  margin-top: 50px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
  font-size: clamp(1rem, 1.5vw, 1.6rem);
}
.icons {
  height: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.icons a {
  margin-left: 30px;
}
.icons i {
  font-size: clamp(3rem, 4vw, 4rem);
  color: rgb(216, 19, 4);
  border-radius: 50%;
}
.icons i:hover {
  filter: invert(1);
  color: rgb(53, 63, 78);
  box-shadow: rgb(216, 19, 4) 0px 0px 100px 10px;
}
.cv {
  padding-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cv a {
  background-color: rgb(216, 19, 4);
  border: 1px solid rgb(71, 58, 33);
  border-radius: 20px;
  padding: 15px 30px;
  color: black;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 10px;
  box-shadow: rgb(216, 19, 4) 0px 2px 20px 3px, rgb(216, 19, 4) 0px 2px 16px 0px;
  text-decoration: none;
}
/* ABOUT ME KISMI */
.about-me {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: rgb(48, 47, 47);
}
.about {
  float: right;
  width: 65%;
}
.batman2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.batman2 img {
  width: 20vw;
  height: auto;
  max-height: 20vh;
  max-width: 20vh;
  min-height: 10vh;
  min-width: 10vh;
  min-height: 5vh;
  border-radius: 20px;
  border-style: none;
  animation: upDown 1.5s ease-in-out infinite alternate;
}
@keyframes upDown {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-20px); /* Y ekseninde 20px hareket */
  }
}
.head-about h1 {
  display: flex;
  flex-direction: row;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: clamp(1rem, 4vw, 3rem);
}
.highlight {
  color: red;
  margin-left: 0.5rem;
}
/* MY SKİLLS KISMI */
.my-skills {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-height: 100vh;
}
.head-skills {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 50px;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: clamp(1rem, 4vw, 3rem);
}
.skill-box {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
  gap: 10px;
  box-sizing: border-box;
}
.skill-box > div {
  box-sizing: border-box;
  background-color: rgb(48, 47, 47);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  flex: 1 0 200px;
  width: 15%;
  height: 30vh;
  min-height: 25vh;
  transition: transform 1.5s ease;
  overflow: hidden;
}
.skill-box > div:hover {
  transform: scale(1.06);
  border: 4px solid rgb(216, 19, 4);
  box-shadow: rgb(216, 19, 4) 10px 0px 70px 10px;
}
.skill-box i {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: rgb(216, 19, 4);
  font-size: clamp(1rem, 4vw, 4rem);
}
.skill-box h2 {
  font-size: clamp(1rem, 1.8vw, 2vw);
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: clamp(1.2rem, 2vw, 2rem);
}
.skill-box p {
  margin: 20px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
  font-size: clamp(0.1rem, 12px, 16px);
}
/* LATEST PROJECT */
.latest-projects {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: rgb(48, 47, 47);
  display: flex;
  flex-direction: column;
}
.img-class{
  margin: 5% 10%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  flex: 1 0 45%;
}
.img-class > img {
  width: 45%;
  max-width: 400px;
  height: auto;
  border-radius: 20px;
}

.img-class > img:hover {

}
